.carousel {
}
.slide-container {
  max-width: var(--pageContainer);
  margin: 0 auto;
  padding-inline: var(--pagePadding);
}

.carousel-heading {
  max-width: var(--pageContainer);
  margin: 0 auto;
  padding-inline: var(--pagePadding);
  font-size: 2rem;
}

.carousel-slide {
  padding-inline: 16px;
  padding-block: 64px;
}

.slide-heading {
  font-size: 1.5rem;
  margin-bottom: 32px;
}
